/* form-block */

    .form-block{background-image:url(../images/form-block-bg.jpg);background-repeat: none;background-size: cover;background-position:center;

        h6{font-family: 'Sitka', sans-serif;color:#913033;font-weight: 700;font-style: italic;font-size: 22px;}

    }

/* /form-block */