/*header ---------------------------*/
    .header-wraper{ background-image: url(../images/headBG.png); height: 104px; background-position: left top; background-repeat:repeat-x; width: 100%; color: #fff;
        .content{display: flex; justify-content: space-between; margin: 0 auto; max-width: 1920px; padding:0 48px;}
        .logo{ display: flex; justify-content: space-between; width: 334px; font: 400 16px/1.4 'TrebuchetMC';padding-top: 16px;
            .img{}
            .txt{ letter-spacing:1.7px; padding-top: 13px;
                p{ margin: 0;}
            }
        }
        .menu{ font:700 16px/1.2 'ProximaNova';
            ul{list-style-type: none; display: flex; justify-content: space-between; width: 642px; padding-top: 41px; letter-spacing: 1px; padding-left: 0; margin: 0;}
            li{ display: inline-block;}
            a{ color: #fff; text-decoration: none; text-transform: uppercase; cursor: pointer;}
        }
        .phones{display: flex; justify-content: space-between; width: 368px;font: 400 16px/1.4 'TrebuchetMC';letter-spacing:1.2px; padding-top: 30px;
            .tel{
                a{ color: #fff; text-decoration: none; cursor: pointer; text-transform: uppercase;}
            }
            .date{ text-transform: uppercase; text-align: right;
                p{ margin: 0;}
            }
        }
        a:hover{ color: #ccc;}
    }
/*END header ---------------------------*/
/*top-section ---------------------------*/
    .top-section{ background-image: url(../images/topBG.jpg); min-height: 801px; background-repeat:no-repeat; background-position: center top; background-size: cover;
        .top-wrap{ color: #fff;max-width: 1285px; margin: 0 auto; padding: 0 20px; padding-top: 191px; }
        .title{ text-align: center;padding-bottom: 37px;
            h2{ margin: 0; font:italic 400 30px/1.2 'Sitka';letter-spacing: 1.8px;}
        }
        .txt{ text-align: center;padding-bottom: 37px;
            p{ margin: 0;font:italic 400 18px/1.35 'Sitka'; letter-spacing: 1.1px;}
        }
        .button-row{ display: flex; justify-content:space-between; margin: 0 auto; max-width: 980px; padding-top: 90px;      }
    }
    .button{background-image: url(../images/button-blue.png); height: 65px; background-position: left top; background-repeat:repeat-x; max-width: 437px; width: 100%; display: inline-block; text-align: center; color: #fff; text-decoration: none; text-transform: uppercase;font:700 14px/65px 'PFDinDisplayPro'; letter-spacing: 0.7px;box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
        &:hover{background-image: url(../images/button-red.png);box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.75);}
    }
/*END top-section ---------------------------*/