/*header ---------------------------*/
    .header-wraper{ background-image: url(../images/headBG.png); height: 104px; background-position: left top; background-repeat:repeat-x; width: 100%; color: #fff;position: relative;
        .content{display: flex; justify-content: space-between; margin: 0 auto; max-width: 1920px; padding:0 48px; }
        .logo{ display: flex; justify-content: space-between; width: 334px; font: 400 16px/1.4 'TrebuchetMC';padding-top: 16px;

            .txt{ letter-spacing:1.7px; padding-top: 13px;
                p{ margin: 0;}
            }
        }
        .menu{ font:700 16px/1.2 'ProximaNova';
            ul{list-style-type: none; display: flex; justify-content: space-between; width: 642px; padding-top: 41px; letter-spacing: 1px; padding-left: 0; margin: 0;}
            li{ display: inline-block;}
            a{ color: #fff; text-decoration: none; text-transform: uppercase; cursor: pointer;}
        }
        .phones{display: flex; justify-content: space-between; width: 368px;font: 400 16px/1.4 'TrebuchetMC';letter-spacing:1.2px; padding-top: 30px;
            .tel{
                a{ color: #fff; text-decoration: none; cursor: pointer; text-transform: uppercase;}
            }
            .date{ text-transform: uppercase; text-align: right;
                p{ margin: 0;}
            }
        }
        .sendwich-icon {    display:none;   width: 52px;    height: 30px;   position: absolute;   z-index: 12;top: 47px;right: 35px; cursor: pointer;
            span {    display: block;    width: 100%;    height: 6px;    background-color: #fff;    position: relative;    transition: all 300ms ease;
                &:before,
                &:after{ content: '';    display: block;    position: absolute;    width: 100%;    height: 6px;    background-color: #fff;  left: 0; transition:all 300ms ease;}
                &:before{top: 18px;}
                &:after{bottom: 18px;}

            }
            &.active{
                span{background-color: transparent;
                    &:before{ top: 0px; transform: rotate(405deg); background-color: #fff;}
                    &:after{ bottom: 0px; transform: rotate(315deg); background-color: #fff;}
                }
            }
        }
        a:hover{ color: #ccc;}
    }
/*END header ---------------------------*/
/*top-section ---------------------------*/
    .top-section{ background-image: url(../images/topBG.jpg); min-height: 801px; background-repeat:no-repeat; background-position: center top; background-size: cover;
        .top-wrap{ color: #fff;max-width: 1285px; margin: 0 auto; padding: 0 20px; padding-top: 191px; }
        .title{ text-align: center;padding-bottom: 37px;
            h2{ margin: 0; font:italic 400 30px/1.2 'Sitka';letter-spacing: 1.8px;}
        }
        .txt{ text-align: center;padding-bottom: 37px;
            p{ margin: 0;font:italic 400 18px/1.35 'Sitka'; letter-spacing: 1.1px;}
        }
        .button-row{ display: flex; justify-content:space-between; margin: 0 auto; max-width: 980px; padding-top: 90px;      }
    }
    .button{background-image: url(../images/button-blue.png); height: 65px; background-position: left center; background-repeat:repeat-x; max-width: 437px; width: 100%; display: inline-block; text-align: center; color: #fff; text-decoration: none; text-transform: uppercase;font:700 14px/65px 'PFDinDisplayPro'; letter-spacing: 0.7px;box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3); margin-bottom: 25px;
        &:hover{background-image: url(../images/button-red.png);box-shadow: 0px 0px 97px 0px rgba(0,0,0,0.75);}
        &.free{background-image: url(../images/butt-free.jpg); line-height:53px; height: 53px; max-width: 392px;
            &:hover{background-image: url(../images/button-blue.png);}
        }

    }
/*END top-section ---------------------------*/
/*free delivery-------------------------------*/
    .free-delivery{ background-image: url(../images/freeBG.jpg); min-height: 237px; background-repeat: no-repeat; background-size: cover; padding-top: 60px;
        .free-wrap{ margin: 0 auto;max-width: 1094px; padding: 0 20px;}
        .txt{ font:italic 400 30px/1.2 'Sitka';letter-spacing: 5px;color: #fff; text-align: right;
            p{ margin: 0;}
        }
        .button-row{text-align: right;padding-top: 34px;}
    }
/*END free delivery-------------------------------*/

/*how-get ----------------------------------------------------*/
    .how-get{ background-image: url(../images/howBG.jpg); min-height: 499px; background-position: center; background-size:cover; overflow: hidden;
        .how-wrap{ padding-top: 77px;}
        .title{ width: 100%; text-align: center;
            h2{ margin: 0; color: #833c3f;font:italic 700 22px/1.2 'Sitka';letter-spacing: 2.6px;}
        }
        .content{ display: flex; justify-content: space-between; margin: 0 auto; max-width: 1074px; padding: 81px 50px 0 20px; width: 100%;
            ul{ display: flex; justify-content: space-between; width: 100%; padding: 126px 0 0; margin:0 4px;}
            li{ width: 12px; height: 4px; background-color: #487da5; display: inline-block;}
        }
        .item{ padding-bottom: 20px;
            .img{ height: 130px;border-bottom: 4px solid #487da5; position: relative; width: 266px; position: relative;
                img{ position: absolute; bottom: 24px; left: 0;}
                &:after{content: ''; position: absolute; bottom: -9px; right: 0; width: 15px; height: 15px; background-color: transparent;border-top: 4px solid #487da5; border-right: 4px solid #487da5; transform: rotate(45deg); display: block;}
            }

            .txt{ font:700 18px/1 'PFDinDisplayPro'; color: #487da5; padding-top: 24px;max-width: 203px;                letter-spacing: 0.5px;
                p{ margin: 0;}
            }
            &:last-child{
                .img{
                    &:after{transform: rotate(135deg); bottom: -5px;  right: -20px; height: 10px;}
                    &:before{ content: ''; position: absolute; display: block; border-radius: 50%; width: 30px; height: 30px; border: 4px solid #487da5; bottom: -17px; right: -27px;}
                }
            }
        }
    }
/*END how-get ----------------------------------------------------*/
/*icons ----------------------------------------------------------*/
    .icons{  background-position: center; background-size:cover; overflow: hidden; background-image: url(../images/iconsBG.png); min-height: 1099px;
        .icons-wrap{max-width: 975px; padding: 0 20px 114px;margin: 0 auto;}
        .title{ width: 100%; text-align: center; padding: 95px 0 138px;
            h2{ margin: 0; color: #fff;font:italic 700 22px/1.2 'Sitka'; letter-spacing: 2.6px;}
        }
        .content{ display: flex;justify-content: space-around; flex-wrap: wrap; }
        .item{ margin-bottom: 75px;
            .img{height: 130px;border-bottom: 4px solid #c5797c; position: relative; width: 235px;
                img{ position: absolute; bottom: 28px; left: 0;}
            }
            .txt{ font: 700 18px/1 'PFDinDisplayPro'; color: #fff; padding-top: 19px;max-width: 203px;  letter-spacing: 0.5px; white-space: nowrap;
                p{ margin: 0;}
            }
        }
    }
/*END icons ----------------------------------------------------------*/
/*map-section ----------------------------------------------------------*/
    .map-section{padding: 61px 20px 67px; background-position: center; background-size:cover; overflow: hidden; background-image: url(../images/mapBG.png);
        .map-section-wrap{ position: relative; width: 100%; display: flex;justify-content: center;
            #map{ width: 869px; height: 619px;}
            .txt{  height: 100%; max-width: 365px; width: 100%; margin-left: 40px;}
            .title{ width: 100%; padding: 3px 0 209px;
                h2{ margin: 0; color: #7e3336;font:italic 700 22px/1.2 'Sitka'; letter-spacing: 2.6px;}
            }
            .content{ width: 100%;}
            .row{font: 400 16px/1 'PFDinDisplayPro'; color: #1b669e; border-bottom: 1px solid #1b669e; width: 100%; text-align: right; position: relative; min-width: 270px; padding-bottom: 3px; letter-spacing: 0.6px; margin-bottom: 44px;
                &:before{font: 700 18px/1 'SitkaBanner'; color: #1b669e; content: attr(data-name); display: block; position: absolute; left: 0; bottom: 3px;letter-spacing: 0.6px;}
            }
        }
    }
/* END map-section ----------------------------------------------------------*/
/* popup ----------------------------------------------------------*/
    #call-popup{ position: relative; width: 100%;  background-position: center; background-size:cover; overflow: hidden; background-image: url(../images/popBG.png); padding: 0 72px 40px 76px;
        .title{ width: 100%;padding: 53px 0 100px;
            h5{ margin: 0; color: #fff;font:italic 700 22px/1.2 'Sitka'; letter-spacing: 2.6px;}
        }
        .form_row{ width: 100%;        }
        .form_input{ width: 100%; margin-bottom: 56px; position: relative;
            &.show {
                &:after { content: ''; width: 20px; height: 10px; background-color: transparent; border-left: 1px solid #fff; border-bottom: 1px solid #fff; position: absolute; transform: rotate(-45deg); right: 0; top: 7px; display: block; }
            }


        }
        .subtitle{ width: 100%; text-align: left;font: 700 18px/1 'SitkaBanner'; color: #fff; padding-bottom: 12px;}
        input { width: 100%; border-bottom: 2px solid rgba(255, 255, 255, 0.4);color: rgba(255, 255, 255, 0.4);
                  &::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.4);}
                            &:-moz-placeholder {color: rgba(255, 255, 255, 0.4);}
                           &::-moz-placeholder {color: rgba(255, 255, 255, 0.4);}
                       &:-ms-input-placeholder {color: rgba(255, 255, 255, 0.4);}
            &:focus{color: rgba(255, 255, 255, 1); border-color: rgba(255, 255, 255, 1);
                &::-webkit-input-placeholder {color: rgba(255, 255, 255, 1);}
                &:-moz-placeholder {color: rgba(255, 255, 255, 1);}
                &::-moz-placeholder {color: rgba(255, 255, 255, 1);}
                &:-ms-input-placeholder {color: rgba(255, 255, 255, 1);}
            }
            &.error{                          color: rgba(255, 0, 0, 1);
                &::-webkit-input-placeholder {color: rgba(255, 0, 0, 1);}
                          &:-moz-placeholder {color: rgba(255, 0, 0, 1);}
                         &::-moz-placeholder {color: rgba(255, 0, 0, 1);}
                     &:-ms-input-placeholder {color: rgba(255, 0, 0, 1);}
            }

        }
        .button{ height: 53px; line-height: 53px; background-image: url(../images/button-popup.png); color: #3d6a8c; border: none; margin-top: 90px;
            &:hover{background-image: url(../images/button-blue.png); color: #fff;}
        }
    }
    .fancybox-close{ display: none;}
#call-success { position: relative; width: 100%; background-position: center; background-size: cover; overflow: hidden; background-image: url(../images/popBG.png); padding: 20px; color: #fff;font:italic 700 22px/1.2 'Sitka'; letter-spacing: 2.6px;
}
/* popup ----------------------------------------------------------*/