<section class="form-block form-one-block">
    <div class="mbox">

        <form class="form-block-main-two">

            <h2>Расчет стоимости:</h2>

            <div class="form-two-block-top">
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_input">
                            <select class="form-style-select register-time">
                                <option value="800 / 1600">3 месяца</option>
                                <option value="1000 / 1800">6 месяца</option>
                                <option value="1200 / 2000">9 месяца</option>
                                <option value="1400 / 2200">12 месяца</option>
                            </select>
                        </div>
                        <div class="form_row">
                            <div class="form_row-title">Стоимость:</div>
                            <div class="form-chossen-value">
                                <p><span>800 / 1600</span> руб.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-descript">

                        <div class="form-descript-item">
                            <div class="form-descript-icon">
                                <img src="images/form-descript-icon1.png" alt="" />
                            </div>
                            <div class="form-descript-text">Бесплатная доставка до любой станции метро</div>
                        </div>

                        <div class="form-descript-item">
                            <div class="form-descript-icon">
                                <img src="images/form-descript-icon2.png" alt="" />
                            </div>
                            <div class="form-descript-text">Оплата курьеру при получении</div>
                        </div>

                    </div>
                </div>
            </div>

            <h2>Заполните заявку для получения регистрации:</h2>

            <div class="form-two-block-bottom">
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                </div>
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input">
                                <select class="form-style-select register-document"required="required">
                                    <option></option>
                                    <option value="doc1">Документ 1</option>
                                    <option value="doc2">Документ 2</option>
                                    <option value="doc3">Документ 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                </div>
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                </div>
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title"></div>
                            <div class="form_input"><input type="text"></div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>