<section class="form-block form-two-block">
    <div class="mbox">

        <form class="form-block-main-two">

            <h2>Расчет стоимости:</h2>

            <div class="form-two-block-top">
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Срок регистрации:</div>
                            <div class="form_input">
                                <select class="form-style-select register-time">
                                    <option value="800 / 1600">3 месяца</option>
                                    <option value="1000 / 1800">6 месяца</option>
                                    <option value="1200 / 2000">9 месяца</option>
                                    <option value="1400 / 2200">12 месяца</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_row-title">Стоимость:</div>
                            <div class="form-chossen-value">
                                <p><span>800 / 1600</span> руб.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-descript">

                        <div class="form-descript-item">
                            <div class="form-descript-icon">
                                <img src="images/form-descript-icon1.png" alt="" />
                            </div>
                            <div class="form-descript-text">Бесплатная доставка до любой станции метро</div>
                        </div>

                        <div class="form-descript-item">
                            <div class="form-descript-icon">
                                <img src="images/form-descript-icon2.png" alt="" />
                            </div>
                            <div class="form-descript-text">Оплата курьеру при получении</div>
                        </div>

                    </div>
                </div>
            </div>

            <h2>Заполните заявку для получения регистрации:</h2>

            <div class="form-two-block-bottom">
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Фамилия Имя Отчество</div>
                            <div class="form_input">
                                <input type="text" name="user_name_name" placeholder="Фамилия Имя Отчество" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Дата рождения</div>
                            <div class="form_input">
                                <input type="tel" class="date-mask" name="user_date_main" placeholder="Дата рождения" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Гражданство</div>
                            <div class="form_input">
                                <input type="text" name="user_nationality_main" placeholder="Гражданство" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Место рождения</div>
                            <div class="form_input">
                                <input type="text" name="user_birthplace_main" placeholder="Место рождения" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Выберите документ</div>
                            <div class="form_input">
                                <select class="form-style-select register-document" required="required">
                                    <option></option>
                                    <option value="doc1">Документ 1</option>
                                    <option value="doc2">Документ 2</option>
                                    <option value="doc3">Документ 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Серия и номер документа</div>
                            <div class="form_input">
                                <input type="text" name="user_docserial_main" placeholder="Серия и номер документа" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Дата выдачи документа</div>
                            <div class="form_input">
                                <input type="tel" class="date-mask" name="user_dategivedoc_main" placeholder="Дата выдачи документа" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Кем выдан документ</div>
                            <div class="form_input">
                                <input type="text" name="user_whogivedoc_main" placeholder="Кем выдан документ" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Пожелания по месту и сроку регистрации</div>
                            <div class="form_input">
                                <input type="text" name="user_sometext_main" placeholder="Пожелания по месту и сроку регистрации" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-two-block-row">
                    <div class="form-two-block-col">
                        <div class="form_row">
                            <div class="form_row-title">Номер телефона для связи</div>
                            <div class="form_input">
                                <input type="text" class="tel-mask" name="user_telefone_main" placeholder="Номер телефона для связи" required="required" />
                            </div>
                        </div>

                    </div>
                    <div class="form-two-block-col">

                        <div class="form_row form_submit">

                            <div class="form_submit-wrap">
                                <button class="button" type="submit">
                                    <span>Отправить заявку</span>
                                </button>
                            </div>

                            <div class="form_submit-descript">
                                <div class="form_submit-icon">
                                    <img src="images/lock-img.png" alt="" />
                                </div>
                                <div class="form_submit-text">В соответствии с Федеральным законом Российской Федерации от 27 июля 2006 г. N 152 "О персональных данных" мы гарантируем полную анонимность всей информации.</div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>
</section>