<!-- HEADER -->
<header>
    <div class="header-wraper">
        <div class="content">


            <div class="logo">
                <div class="img"><img src="images/logo.png" alt=""></div>
                <div class="txt"><p>МОСКОВСКИЙ</p>
                    <p>МИГРАЦИОННЫЙ ЦЕНТР</p></div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">главная</a></li>
                    <li><a href="#">как это работает</a></li>
                    <li><a href="#">для чего</a></li>
                    <li><a href="#">контакты</a></li>
                </ul>
            </div>
            <div class="phones">
                <div class="tel">
                    <a href="tel:+8(495)2959947">тел.: 8 (495) 295-99-47</a>
                </div>
                <div class="date">
                    <p>Без выходных </p>
                    <p>с 09:00 до 21:00</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

