<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="title">
                <h5>Бесплатная доставка до
                    любой станции метро</h5>
            </div>
            <div class="form_row">
                <div class="subtitle">Фамилия Имя Отчество</div>
                <div class="form_input">
                    <input type="text" name="contact_name" required="required" value="" placeholder="Фамилия Имя Отчество">
                </div>
            </div>
            <div class="form_row">
                <div class="subtitle">E-mail</div>
                <div class="form_input">
                    <input type="email" name="contact_mail" required="required" value="" placeholder="E-mail">
                </div>
            </div>
            <div class="form_row">
                <div class="subtitle">Номер телефона для связи</div>
                <div class="form_input">
                    <input type="tel" name="contact_tel" value="" required="required" placeholder="Номер телефона для связи" class="tel-mask">
                </div>
            </div>

            <button type="submit" class="button">
                <span>ЗАКАЗАТЬ</span>
            </button>

        </form>
    </div>

</div>