<section class="how-get">
    <div class="how-wrap">
        <div class="title">
            <h2>Как получить документ?</h2>
        </div>
        <div class="content">
            <div class="item">
                <div class="img"><img src="images/how01.png" alt=""></div>
                <div class="txt">
                    <p>Вы заполняете форму заявки на сайте,
                        и отправляете нам</p>
                </div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="item">
                <div class="img"><img src="images/how02.png" alt=""></div>
                <div class="txt">
                    <p>Наши специалисты связываются с вами в самое ближайшее время</p>
                </div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="item">
                <div class="img"><img src="images/how03.png" alt=""></div>
                <div class="txt">
                    <p>Получение документа
                        за 1 рабочий день, без предоплаты</p>
                </div>
            </div>
        </div>
    </div>
</section>