<section class="icons" id="icons">
    <div class="icons-wrap">
        <div class="title">
            <h2>Для чего нужна временная регистрация?</h2>
        </div>
        <div class="content">
            <div class="item">
                <div class="img"><img src="images/icons01.png" alt=""></div>
                <div class="txt">
                    <p>Для трудоустройства</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons02.png" alt=""></div>
                <div class="txt">
                    <p>Для поликлиники</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons03.png" alt=""></div>
                <div class="txt">
                    <p>Для ребенка в детский сад</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons04.png" alt=""></div>
                <div class="txt">
                    <p>Для визы</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons05.png" alt=""></div>
                <div class="txt">
                    <p>Для получения водит. прав</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons06.png" alt=""></div>
                <div class="txt">
                    <p>Для кредита</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons07.png" alt=""></div>
                <div class="txt">
                    <p>Для школы</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons08.png" alt=""></div>
                <div class="txt">
                    <p>Для студентов</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/icons09.png" alt=""></div>
                <div class="txt">
                    <p>Для других целей
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>