<section class="map-section" id="map-section">
    <div class="map-section-wrap">
        <div id="map"></div>
        <div class="txt">
            <div class="title">
                <h2>Наши контакты:</h2>
            </div>
            <div class="content">
                <div class="row" data-name="адрес :">г.Москва, ул.Малая Лубянка, д.16</div>
                <div class="row" data-name="телефон :">8 (495) 295-99-47</div>
                <div class="row" data-name="E-mail :">mmc@gmail.com</div>
            </div>
        </div>
    </div>
</section>