<section class="top-section">
    <div class="top-wrap">
        <div class="title">
            <h2>Официальная временная онлайн регистрация в Москве и Московской области за 1 день</h2>
        </div>
        <div class="txt">
            <p>Не хотите тратьте время на очереди? Регистрация в любом районе Москвы и Московской области, в день обращения. График работы нашей организации не зависит от выходных или праздничных дней. Мы принимаем заявки на временную регистрацию в Москве и МО в любое время. Для того, чтобы сделать онлайн заявку нужно заполнить on-line форму. Все сотрудники нашей организации – это люди, которые имеют большой работы в данной сфере</p>
        </div>
        <div class="button-row">
            <a href="#icons" class="button">для чего нужна временная регистрация</a>
            <a href="#form-block" class="button">оформить временную регистрацию</a>
        </div>
    </div>
</section>